 @import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');

*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Kite One', sans-serif;
    border-color: #E1DDDD;
}

/****** HEADER *****/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 70px;
    background-color: #E1DDDD;
}

h2{
    text-align: center;
}


/****** TOP DESCRIPTION / FIRST SECTION *****/
.main-description{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 380px;
}
.text-description{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.profile-pic img{
    float: right;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-right: 50px;
    margin-top: 10px;   
}


/****** PARTIE PROJECTS *****/
.realisations {
    background-color: #E1DDDD;
    height: 400px ;
} 

.projects{
    display: flex;
    justify-content: space-evenly;
}
.projects img {
    width: 300px;
    height: 300px;
    border-radius: 15%;
}